body { font-family: Verdana; font-size: 12px; background: #eee }

#login { position: absolute; top: 150px; z-index: 100; left: 90px }
#login .msg { display: none }

.Name { text-align: center }

#cr-stage { margin: auto; border: 2px solid #444; background: url('bg.png'); z-index: 10 }

#inventory { list-style:none; padding:2px; width:413px; position: absolute; bottom: 0; left: 45px; background: #eee; border: 2px solid #aaa; margin: 0; z-index: 100; display: none }
#inventory li { display:block; width:35px; height:35px; border:1px solid #ccc; float:left; margin-right:10px }
#inventory li.end { margin-right: 0 } 
#inventory li.over { border-width:2px; border-color:#666; width: 33px; height: 33px }
#inventory a { width: 32px; height: 32px; display:block; margin: 1px 0 0 1px }

#list { width: 450px; height: 350px; top: 5px; left: 25px; z-index: 100; position: absolute; display: none; padding: 5px; border: 2px solid #aaa; background: #eee }
#list ul { list-style: none; padding:0; margin:0 }
#list li { width: 16px; height: 16px; float: left; margin: 5px }
#list li:hover { background-color: #aaa !important }

#credits { position: absolute; left: 15px; top: 5px; line-height: 25px; }
#credits a, #credits a:visited { color: #0066ff; text-decoration: none }
#credits a:hover { border-bottom: 1px dotted #0022FF }

#crafty { position: absolute; right: 15px; top: 5px; }

#instructions { width: 516px; margin: auto; line-height: 35px }
#instructions dt { display: inline; border: 1px solid #ccc; background: #fff6d1; padding: 5px; margin-left: 10px }
#instructions dd { display: inline; margin: 0 0 0 5px }